@font-face {
    font-family: "Kumbh Sans";
    src: url('fonts/KumbhSans-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url('fonts/KumbhSans-Bold.ttf') format("truetype");
    font-weight: 700;
}

body {
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -500px left -257px, bottom -500px right -257px;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', monospace;
    background-attachment: fixed;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
